.pulse {
  animation: pulse-animation 2s infinite;
}

@keyframes pulse-animation {
  0% {
    box-shadow: 0 0 0 0px rgba(0, 0, 0, 0.2);
  }
  100% {
    box-shadow: 0 0 0 20px rgba(0, 0, 0, 0);
  }
}

.items-center{
    display: flex;
    justify-content: center;
    align-items: center;
}

/* countdown */
.countdown{
    display: flex;
    flex-direction: row;
    margin: 40px 0px 0px 0px;    
    align-items: center;
    justify-content: center;
    gap: 20px;
}
.countdown .countdown-item{
    display: flex;
    flex-direction: column;    
    align-items: center;
    justify-content: center;
}
.countdown .countdown-number{
    font-weight: bold;
    font-size: 35px;
    color: #fff;    
}
.countdown .countdown-label{
    font-weight: normal;
    font-size: 25px;
    color: #fff;
}

.call-action * {
    color: #fff;
}
.call-action .whatsapp-button,
.call-action .whatsapp-button:is(:hover,:focus,:visited,:active)
{
    margin-top:30px;
    width: fit-content;
    margin-left:auto;
    margin-right:auto;
    font-size:28px;
    line-height:28px;
}