.pulse {
  animation: pulse-animation 2s infinite;
}

@keyframes pulse-animation {
  0% {
    box-shadow: 0 0 0 0px rgba(0, 0, 0, 0.2);
  }
  100% {
    box-shadow: 0 0 0 20px rgba(0, 0, 0, 0);
  }
}

.items-center{
    display: flex;
    justify-content: center;
    align-items: center;
}

/* countdown */
.countdown{
    display: flex;
    flex-direction: row;
    margin: 40px 0px 0px 0px;    
    align-items: center;
    justify-content: center;
    gap: 20px;
}
.countdown .countdown-item{
    display: flex;
    flex-direction: column;    
    align-items: center;
    justify-content: center;
}
.countdown .countdown-number{
    font-weight: bold;
    font-size: 35px;
    color: #fff;    
}
.countdown .countdown-label{
    font-weight: normal;
    font-size: 25px;
    color: #fff;
}

.call-action * {
    color: #fff;
}
.call-action .whatsapp-button,
.call-action .whatsapp-button:is(:hover,:focus,:visited,:active)
{
    margin-top:30px;
    width: fit-content;
    margin-left:auto;
    margin-right:auto;
    font-size:28px;
    line-height:28px;
}
.float-whatsapp-button,
.float-whatsapp-button:is(:hover,:focus,:visited,:active){
    position: fixed;
    bottom: 90px;
    right: 30px;
    width: 60px;
    height: 60px;
    color: #fff;
    background: #25d366;
    border-radius: 100%;
    z-index: 9999;
    padding: 0.4rem;
}
.float-instagram-button,
.float-instagram-button:is(:hover,:focus,:visited,:active){
    position: fixed;
    bottom: 110px;
    right: 30px;
    width: 60px;
    height: 60px;
    color: #fff;
    background: #833ab4;
    background: linear-gradient(
        to right,
        #833ab4,#fd1d1d,#fcb045
    );
    border-radius: 100%;
    z-index: 9999;
    padding: 0.4rem;
    display:flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.float-facebook-button,
.float-facebook-button:is(:hover,:focus,:visited,:active){
    position: fixed;
    bottom: 190px;
    right: 30px;
    width: 60px;
    height: 60px;
    color: #fff;
    background: #3b5998;
    border-radius: 100%;
    z-index: 9999;
    padding: 0.4rem;
    display:flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}
.float-instagram-button svg,
.float-facebook-button svg{
    width: 25px;
}

.float-facebook-button svg{
    width: 18px;
}

/* area video container*/
.area-video-container{
  padding: 150px 0px;
  background: rgba(227, 218, 201, 0.2) ; 
}
.area-video-container h2{
  text-align: center;
  margin-bottom: 3rem;
}

@media(max-width:767px){
  .area-video-container h2{
    margin-bottom:1.5rem;
  }
  .area-video-container{
    padding:30px 0px;
  }
}