.whatsapp-button,
.whatsapp-button:is(:hover,:focus,:visited,:active){
    display: flex;
    flex-direction: row;
    justify-content: center;
    border:none;
    background-color: #25d366;
    color: #fff;
}
.detail-webinar-content p{
    line-height: 1.8;
}
.detail-webinar-content li{
    padding-left: 20px;
    line-height: 1.8;
    margin-bottom: 0.5em;
}
.exponente-content p{
    margin-bottom: 1.5em;
}
.exponente-content *{
    line-height: 1.625;
    font-size: 1rem;
    color: rgba(15, 12, 9, 1);
}
@media (min-width: 480px) {
    .exponente-content *{
        font-size: 1.125rem;
    }
}
@media (min-width: 768px) {
    .exponente-content *{
        font-size: 1.25rem;
    }
}
.temario-items-content{
    text-align: left;
    line-height: 1.625;
    font-size: 1rem;
}
.temario-items-content > div {
    line-height: 1.8;
    padding-left: 20px;
    margin-bottom: 0.5em;
    position:relative;
}
.temario-items-content > div:before{
    left: -6px;
    top: 0px;
    position: absolute;
    color: rgba(0, 255, 211, 1);

    content: "ï€Œ";
    font-family: "Font Awesome 5 Free";
    font-weight: 900;
    transform: scale(0.85);

    display: inline-block;
    font-size: 1em;
}
@media (min-width: 480px) {
    .temario-items-content *{
        font-size: 1.125rem;
    }
}
@media (min-width: 768px) {
    .temario-items-content *{
        font-size: 1.25rem;
    }
}
.warning-message-content .widget{
    margin:0px;
}